{% extends 'layout/base.html' %}
{% block 'title' %} Error del Servidor {% endblock %}

{% block 'content' %}

    <div class="container">

      <section class="m-auto text-center col-lg-6 section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1> Ups!!!</h1>
        <h2> Algo salió mal. Vuelve atrás e inténtalo nuevamente. </h2>
        <p>Si el problema persiste, por favor contacta con sistemas <p>
        <a class="btn btn-danger" href="./">Volver atrás</a>
        
      </section>

    </div>

{% endblock %}